# dependencies
/node_modules

# testing
/coverage

# build
/dist
*.zip

# downloaded fonts cache for asset generators
/scripts/.fonts

# etc
.DS_Store
.env
.env.local
.idea

# compiled
utils/reload/*.js
utils/reload/injections/*.js
